@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Bold.woff2") format("woff2"),
    url("../fonts/Nunito-Bold.woff") format("woff");
  display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-SemiBold.woff2") format("woff2"),
    url("../fonts/Nunito-SemiBold.woff") format("woff");
  display: swap;
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Medium.woff2") format("woff2"),
    url("../fonts/Nunito-Medium.woff") format("woff");
  display: swap;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Regular.woff2") format("woff2"),
    url("../fonts/Nunito-Regular.woff") format("woff");
  display: swap;
  font-weight: 400;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
  padding: 15px;
  font-family: "Nunito";
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  background-color: #23284c;
  color: #00000a;
}

p,
h1 {
  margin: 0;
}

.focus:focus {
  border: 1px solid #00000a;
}

.wrapper {
  width: 100%;
  height: auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #545899;
  transition: height 0.2s ease;
}

.wrapper__title {
  font-family: "Nunito";
  font-size: 24px;
  line-height: 28px;
}

.wrapper__subtitle {
  margin-bottom: 20px;
  font-weight: 500;
}

.wrapper__qr-input,
.wrapper__qr-button {
  width: 100%;
  min-height: 50px;

  font-family: "Nunito";
  font-size: 16px;
  outline: none;
  border: none;
  border-radius: 5px;
}

.wrapper__qr-input {
  margin-bottom: 15px;
  padding: 0 15px;
}

.wrapper__radio-text {
  margin-bottom: 5px;
  font-weight: 500;
}

.wrapper__radio-line {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.wrapper__qr-button {
  margin-bottom: 10px;
  padding: 10px;
  font-weight: 600;
  background-color: #dcccff;
  cursor: pointer;
  position: relative;
  transition: all 500ms ease;
}

.wrapper__qr-code {
  position: absolute;
  display: flex;
  justify-content: center;
  height: auto;
  opacity: 0;
  padding: 30px;
  border: 1px solid #dcccff;
  border-radius: 5px;
  pointer-events: none;
}

.wrapper.active .wrapper__qr-code {
  position: relative;
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s 0.05s ease;
}

.radio {
  cursor: pointer;
}

.radio__text {
  position: relative;
  padding-right: 18px;
  font-weight: 600;
}

.radio__text::before {
  content: "";
  position: absolute;
  top: 3px;
  right: 0;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #dcccff;
}

.radio__text::after {
  content: "";
  position: absolute;
  right: 2px;
  top: 5px;
  width: 10px;
  height: 10px;
  opacity: 0;
  border-radius: 50%;
  background-color: #23284c;

  transition: opacity 0.2s linear;
}

.radio__input {
  position: absolute;
  visibility: hidden;
}

.radio__input:checked + .radio__text::after {
  opacity: 1;
}

@media (min-width: 992px) {
  .wrapper__qr-button:hover {
    background: rgba(0, 0, 0, 0);
    color: #00000a;
    box-shadow: inset 0 0 0 3px #dcccff;
  }
}

@media (max-width: 512px) {
  .wrapper__radio-line {
    justify-content: flex-start;
    margin-bottom: 5px;
  }
  .radio {
    margin-bottom: 10px;
  }
  .radio:not(:last-child) {
    margin-right: 10px;
  }
}
